In [1]:
2*3 # Multiplication

[1] 6

In [3]:
4-1 # Substraction

[1] 3

In [4]:
a <- 1 # Assign value to a

In [5]:
a +2

[1] 3

In [6]:
df = data.frame(Emp_Name = c("Jai","David","Michael"), Job_role = c("Manager","Team Lead","Developer"))

In [7]:
print(df)

  Emp_Name  Job_role
1      Jai   Manager
2    David Team Lead
3  Michael Developer